@model FleetManagementService.Models.Vessel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vessel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Fleet.Name)*@
            Fleet:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fleet.Name)
        </dd>



        <dt>
            @*@Html.DisplayNameFor(model => model.Capacity)*@
            Capacity:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            Containers:
        </dt>

                @foreach(var container in Model.Containers)
                {
                    <dd>@container.Name</dd>
                }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VesselId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
